$modal-bg-bgcolor: rgba(0,0,0,.6);
$modal-bgcolor: #FFF;
$modal-color: #000;
$modal-height: 80%;
$modal-padding: 20px 24px;
$modal-width: 300px;

#modal-background {

  background: $modal-bg-bgcolor;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  &.opened { display: block; }
}

.modal {
  bottom: 0;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  background: $modal-bgcolor;
  color: $modal-color;
  display: none;
  height: $modal-height;
  left: 0;
  margin: auto;
  min-height: 50%;
  padding: $modal-padding;
  position: absolute;
  right: 0;
  top: 0;
  width: $modal-width;
  z-index: 10001;
  &.opened { display: block; }
  .modal-close {
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background: #FFF;
    cursor: pointer;
    font-size: 19px;
    padding: 2px 3px 3px 4px;
    position: absolute;
    right: -14px;
    top: -15px
  }
  .modal-content {
    height: 100%;
    overflow: auto;
    width: 100%;
  }
}