@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('./vendor/fonts/opensans/opensanslight.woff2') format('woff2'), url('./vendor/fonts/opensans/opensanslight.woff') format('woff'), url('./vendor/fonts/opensans/opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('./vendor/fonts/opensans/opensanslightitalic.woff2') format('woff2'), url('./vendor/fonts/opensans/opensanslightitalic.woff') format('woff'), url('./vendor/fonts/opensans/opensanslightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('./vendor/fonts/opensans/opensans.woff2') format('woff2'), url('./vendor/fonts/opensans/opensans.woff') format('woff'), url('./vendor/fonts/opensans/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./vendor/fonts/opensans/opensansitalic.woff2') format('woff2'), url('./vendor/fonts/opensans/opensansitalic.woff') format('woff'), url('./vendor/fonts/opensans/opensansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('./vendor/fonts/opensans/opensanssemibold.woff2') format('woff2'), url('./vendor/fonts/opensans/opensanssemibold.woff') format('woff'), url('./vendor/fonts/opensans/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('./vendor/fonts/opensans/opensanssemibolditalic.woff2') format('woff2'), url('./vendor/fonts/opensans/opensanssemibolditalic.woff') format('woff'), url('./vendor/fonts/opensans/opensanssemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./vendor/fonts/opensans/opensansbold.woff2') format('woff2'), url('./vendor/fonts/opensans/opensansbold.woff') format('woff'), url('./vendor/fonts/opensans/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('./vendor/fonts/opensans/opensansbolditalic.woff2') format('woff2'), url('./vendor/fonts/opensans/opensansbolditalic.woff') format('woff'), url('./vendor/fonts/opensans/opensansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('./vendor/fonts/opensans/opensansextrabold.woff2') format('woff2'), url('./vendor/fonts/opensans/opensansextrabold.woff') format('woff'), url('./vendor/fonts/opensans/opensansextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('./vendor/fonts/opensans/opensansextrabolditalic.woff2') format('woff2'), url('./vendor/fonts/opensans/opensansextrabolditalic.woff') format('woff'), url('./vendor/fonts/opensans/opensansextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
